body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  position: relative;
}

canvas {
  margin: 0px auto;
  position: absolute;
  left: 30%;
  overflow: hidden;
}

img {
  display: none;
}

.welcomeDiv {
  position: absolute;
  margin: 0px auto;
  left: 30%;
  overflow: hidden;
  height: 624px;
}

.title {
  padding: 100px 115px;
}

#playBtn,
#rePlayBtn {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 225px;
  top: 250px;
}

#userManualBtn {
  width: 60px;
  height: 60px;
  left: 130px;
  top: 400px;
  position: absolute;
}

.levelsBtn {
  width: 60px;
  height: 60px;
  left: 205px;
  top: 400px;
  position: absolute;
}

#level1 {
  width: 60px;
  height: 60px;
  left: 205px;
  top: 400px;
  position: absolute;
}

#level2 {
  width: 60px;
  height: 60px;
  left: 205px;
  top: 461px;
  position: absolute;
}

#level3 {
  width: 60px;
  height: 60px;
  left: 205px;
  top: 522px;
  position: absolute;
}

.musicBtn {
  width: 60px;
  height: 60px;
  left: 280px;
  top: 400px;
  position: absolute;
}

.muteBtn {
  width: 60px;
  height: 60px;
  left: 355px;
  top: 400px;
  position: absolute;
}

.copyright {
  left: 163px;
  top: 580px;
  position: absolute;
}

.gameoverDiv {
  position: absolute;
  margin: 0px auto;
  left: 30%;
  overflow: hidden;
  height: 624px;
}

.gameOverTxt {
  padding: 110px 85px;
}

#homeBtn {
  width: 60px;
  height: 60px;
  left: 170px;
  top: 380px;
  position: absolute;
}

.ratingsBtn {
  width: 60px;
  height: 60px;
  left: 307px;
  top: 380px;
  position: absolute;
}

.firstInstruction {
  margin-top: 50px;
}
