body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  position: relative;
}

canvas {
  margin: 0px auto;
  position: absolute;
  left: 10%;
  overflow: hidden;
}

img {
  display: none;
}

.welcomeDiv {
  position: absolute;
  margin: 0px auto;
  left: 10%;
  overflow: hidden;
  height: 624px;
}

.title {
  padding: 100px 130px;
}

#playBtn,
#rePlayBtn {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 228px;
  top: 250px;
}

.userManualBtn {
  width: 60px;
  height: 60px;
  left: 130px;
  top: 400px;
  position: absolute;
}

.leaderboardBtn {
  width: 60px;
  height: 60px;
  left: 205px;
  top: 400px;
  position: absolute;
}

.musicBtn {
  width: 60px;
  height: 60px;
  left: 280px;
  top: 400px;
  position: absolute;
}

.muteBtn {
  width: 60px;
  height: 60px;
  left: 355px;
  top: 400px;
  position: absolute;
}

.copyright {
  left: 163px;
  top: 580px;
  position: absolute;
}

.gameoverDiv {
  position: absolute;
  margin: 0px auto;
  left: 10%;
  overflow: hidden;
  height: 624px;
}

.gameOverTxt {
  padding: 110px 85px;
}

.homeBtn {
  width: 60px;
  height: 60px;
  left: 170px;
  top: 380px;
  position: absolute;
}

.ratingsBtn {
  width: 60px;
  height: 60px;
  left: 307px;
  top: 380px;
  position: absolute;
}

/* .rePlayBtn {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 228px;
  top: 250px;
} */

/* .red {
  left: 200px;
  top: 340px;
  color: red;
  position: absolute;
}

.blue {
  left: 200px;
  top: 370px;
  color: red;
  position: absolute;
}

h2 {
  left: 160px;
  top: 400px;
  color: red;
  position: absolute;
} */
