.title {
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 83px;
  letter-spacing: 6px;
  font-weight: 200;
  font-family: "Quicksand", sans-serif;
}

.title span {
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
}

.playBtn {
  background: url("../images/play.png");
}

ul li {
  list-style-type: none;
}

.leaderboard {
  background: url("../images/leaderboard.png");
}

.ratings {
  background: url("../images/ratings.png");
}

.music {
  background: url("../images/music.png");
}

.mute {
  background: url("../images/mute.png");
}

.gameoverDiv h1 {
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 83px;
  letter-spacing: 6px;
  font-weight: 200;
  font-family: "Quicksand", sans-serif;
}
